.header {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    gap: 2.8rem;
    border-bottom: 0.1rem solid #414144;

    &__icons {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    button {
        background: none;
        border: none;
        padding: 1.5rem 0.5rem;
        color: #A1A1AA;
        font-size: 1.4rem;
        border-bottom: 0.2rem solid transparent;

        &.active {
            border-bottom-color: #fff;
        }
    }
}